.generate {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.generateItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
    background-color: #460442;
}
.generateTittle {
    font-size: 20px;
    color: #ffffff
}
.generateContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}
.generateInput{
    margin-top: 10px;
}
.inputCount{
    outline: auto;
}
.generateSubmit{
    margin-top: 10px;
    display: grid;
    justify-content: center;
    width: 100%;
    padding-inline-start: inherit;
    margin-left: inherit;
}
.submit{
    padding: 0px 10px;
}
.inputSelect{
    color: #ffffff!important;
}
.select{
    color: #ffffff!important;
}
.lable{
    display: flex;
    justify-content: space-between;
}
.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding-right: 90px!important;
}