.shop {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.shopItemRevanue {
    flex: 1;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
    background-color: #460442;
}
.shopTittle {
    font-size: 20px;
    color: #ffffff;
}
.shopContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}
.shopMoney {
    font-size: 30px;
    font-weight: 600;
}
.shopimage {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.shopIcon {
    font-size: 14px;
    margin-left: 5px;
    color: green;
}
.shopIcon.negative {
    color: red;
}
.shopSub {
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.shopBid{
    background-color: blueviolet;
    color: #ffffff;
    border-radius: 5px;
}
.shopItem{
    display: flex;
    justify-content: space-between;
}