
.buttonModal{
    display: flex;
    justify-content: space-between!important;
    align-items: center;
}

.buttonCancel {
    display: inline-block!important;
    border: 0;
    outline: 0;
    padding: 6px 24px !important;
    line-height: 1.4;
    background: #b5b5b5!important;
    border-radius: 5px!important;
    border: 1px solid rgb(253, 7, 7);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif!important;
    color: rgb(7, 7, 7) !important;
    font-size: 1em;
    cursor: pointer!important;
    /* Important part */
    position: relative!important;
    transition: padding-right .3s ease-out!important;
    text-transform: none!important;
}