.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 50px;
}
.sidebarWrapper {
    padding: 20px;
    color: #555;
}
.sidebarMenu {
    margin-bottom: 10px;
}
.sidebarTittle {
    font-size: 13px;
    color: #f6f6f7;
}
.sidebarList {
    list-style: none;
    padding: 5px;
}
.sidebarListItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.sidebarListItem.active, .sidebarListItem:hover{
    background-color: rgb(240, 240, 255);
    text-decoration: none;
    color: inherit;
}
.sidebarIcon {
    margin-right: 10px;
    font-size: 20px;
}