.list{
    flex: 4;
}

.hiden{
    visibility: hidden;
}
.hiden.show{
    visibility: unset;
}
.editIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.lablEdit{
    padding: 2px 5px;
    color: #ffffff;
    opacity: 0.3;
}
.historyIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.lablHistory{
    padding: 2px 5px;
    color: #ffffff;

}
.css-1usso8h-MuiDataGrid-root .MuiDataGrid-withBorderColor{
    border-color: rgb(18, 14, 22)!important;
}
.css-rtrcn9-MuiTablePagination-root{
    color: #ffffff!important;
}
.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root{
    color: #ffffff!important;
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
    color:#ffffff!important;
}
.css-1usso8h-MuiDataGrid-root .MuiDataGrid-row:nth-child(odd){
    background-color: #181818;
}
.css-19kzrtu{
    background-color: rgb(18, 14, 22);
    padding-left: 10px!important;
}
.css-zlen0r-MuiContainer-root{
    padding-left: 0!important;
}
.css-1iyq7zh-MuiDataGrid-columnHeaders{
    background: #460442;
}